@media (max-width: 1000px) {
  .footer {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .footer {
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .footer {
    margin-top: 20px;
  }
}
