@media (max-width: 1000px) {
  .landlogo {
    width: 550px;
    height: 550px;
  }
}

@media (max-width: 800px) {
  .landlogo {
    margin-top: 120px;
  }
}

@media (max-width: 600px) {
  .landlogo {
    margin-top: 145px;
  }
}
