@media (max-width: 1000px) {
  .footer {
    margin-top: 100px;
  }
}

@media (max-width: 800px) {
  .footer {
    margin-top: 45px;
  }
}

@media (max-width: 600px) {
  .footer {
    margin-top: 45px;
  }
}
